html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
}
/* Encabezado */
#encabezado {
	width: 92.1%;
    height: 8rem;
	top: 0;
	margin: 0;
	padding: 0 2rem 2rem;
	background-image: linear-gradient(to left, #2274F2 ,#ffffff);
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	display: flex;
	align-items: center;
	flex-direction: row;
}
#img {
    width: 12rem;
    height: 10rem;
    margin-top: 1rem;
}
#h1 {
	font-family: 'Noto Sans', sans-serif;
	font-size: 2rem;
	color: #1E222B;
    margin-top: 9rem;
	line-height: 1;
}
header img {
    max-width: 10rem;
    max-height: 10rem;
    margin-top: 2rem;
	margin-left: -1rem;
}
/* Barra de navegaci贸n */
.navbar {
	overflow: hidden;
	background-color: #2274F2;
}
.navbar a {
	float: left;
	font-size: 1rem;
	font-weight: 700;
	color: white;
	text-align: center;
	padding: 1rem 0.5rem;
	text-decoration: none;
}
/* Bot贸n dropdown */
.dropdown {
	float: left;
	overflow: hidden;
}
.dropdown .dropbtn {
	cursor: pointer;
	font-size: 1rem;
	font-weight: 700; 
	border: none;
	outline: none;
	color: white;
	padding: 1.1rem;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn {
	background-color: #FFB439;
	color: black;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #FFB439;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropdown-content a {
	float: none;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}
.dropdown-content a:hover {
	background-color: #ddd;
}
.dropdown:hover .dropdown-content {
	display: block;
}
#boton-vermas{
	color: #A14F19;
}
#boton-vermas:hover{
	cursor: pointer;
	color: #F8712E;
}
/* Contenido de body */
#main {
	background: #fff;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
}
#contenedor {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
	margin: 1rem auto;
	max-width: 50rem;
	padding: 1rem auto;
	background: #fff;
	border-radius: 1rem;
}
/* Titulo del body */
#titulo {
    font-size: 120%;
	margin: 1rem;
	padding: 1rem 2rem;
    color: #222;
    line-height: 1.3;
}
h3,h4{
	text-align: center;
}
h4{
	margin-top: 1rem;
}
h3,#hashtag {
	font-weight: 600;
    color: #F8712E;
}
/* Img del body */
#img-index img{
	width: 50%;
	display: block;
	margin: 1rem auto 0;
}
#comunicate img{
	width: 22%;
	display: block;
	margin: -2rem auto;
}
/* Botones de anuncios */

#botones, .boton {
	color: #ffffff;
	text-decoration: none;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1rem;
	font-weight: 600;
	padding: 0.5rem 1rem;
	margin-top: 0.5rem;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	border:none;
}	
.boton:hover {
	cursor: pointer;
	background-color: #F8712E;
	color: white;
}
.boton-amarillo {
	background-color: #FFB439;
	border-radius: 1rem;
}
#via-evento img{
	margin: 0.5rem auto -0.5rem;
	max-width: 3rem;
	display: inline-block;
}
/* Contenedor del anuncio */
#titulo-monitores{
	margin-top: -1.5rem;
	margin-bottom: 0.5rem;
	color: #F8712E;
}
#lider, #post-contacto{
	width: 100%;
	display: block;
	margin: auto;
}
#texto-lider{
	color: black;
	margin: 2rem;
	margin-top: 2rem;
	margin-bottom: 0;
}
#hashtag-interno{
	color: #F8712E;
}
.contenedor-anuncio{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
#anuncio {
	flex-basis: calc(33.3% - 4rem);
	border: 1px solid #B3B6B7;
	border-radius: 1rem;
	background: #F8F9F9;
	padding: 0.5rem;
	margin: 2rem;
}
#botones-evento{
	display: flex;
	flex-wrap:nowrap;
	margin: auto 16rem;
}
#via-evento{
	margin-left: 1rem; 
}

/* Contenido de anuncios */
#contenido-anuncio {
	text-align: center;
}
.contenido-anuncio h3 {
	margin: 0;
	word-spacing: -0.5rem;
} 
.contenido-anuncio p {
	margin: 0;
    font-weight: 700;
}
.fecha {
	color: #2274F2;
	font-weight: 700;
}
p.codigo-acceso{
	color: #F8712E!important;
	font-weight: 900!important;
}
.contenedor-anuncios {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
/* Contennido de comunicaci贸n */
#contacto{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: auto 2rem;
}
#post-contacto{
	width: 30%;
	height: 50%;
	border: 1px solid #B3B6B7;
	border-radius: 1rem;
	margin-bottom: 2rem;
	padding: 0.5rem;
}
#post-contacto p{
	margin-left: 0.5rem;
	font-size: 70%;
}
#datos-contacto{
	display: flex;
	flex-wrap:nowrap;
}
.nombre{
	font-size: 1rem!important;
	font-weight: 800;
	color: #2274F2;
	margin-top: 0;
	margin-bottom: 0;
}
.zona{
	font-size: 1rem!important;
	font-weight: 800;
	color: #F8712E;
	margin-top: 0;
	margin-bottom: 0;
}
#icono-contacto{
	margin-top: 0.6rem;
}
/* Paginaci贸n de los anuncios */
#paginacion {
	text-align: center;
}
#paginacion a {
	font-size: 1rem;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	padding: 0.5rem 1.5rem;
	margin: 1rem auto;
}
.paginacion a:hover {
	background-color: #F8712E;
	color: black;
}
/* Footer y contenido de footer */
#footer{
	margin-top: 1rem;
	text-align: center;
	font-weight: 800;
	color: #000000;
}

/* ------------------------------------------MEDIA QUERIES----------------------------------------------------- */
@media only screen and (max-width:90rem) {
	#contenedor {
		max-width: 95%;
	}
	#encabezado{
		width: 93.2%;
	}
	.navbar{
		margin-top: -0.5rem;
	}
	.navbar a {
		font-size: 1.2rem;
		font-weight: 700;
		padding: 0.5rem;
	}
	.dropdown .dropbtn {
		margin-top: -0.5rem;
		font-size: 1.2rem;
	}
	.dropdown .dropbtn a {
		margin-top: -0.5rem;
	}
	.navbar a:hover, .dropdown:hover .dropbtn {
		background-color: #FFB439;
		color: black;
	}
	h3#titulo{
		font-size: 0.7rem;
		margin: 0;
	}
	#index-titulo{
		font-size: 2rem!important;
		color: #000000;
	}
	.index-sub{
		font-size: 1.5rem!important;	
	}
	#hashtag{
		font-size: 2rem!important;
		margin-top: -1rem;
	}
	#hashtag-interno{
		font-size: 1rem!important;
		margin-top: -1rem;
		color: #F8712E;
	}
	h4{
		font-size: 0.6rem;
		margin: 1rem;
	}
	#comunicate img{
		width: 25%;
		display: block;
		margin: -2rem auto;
	}
	#anuncio {
		font-size: 75%;
		border: 1px solid #B3B6B7;
		border-radius: 1rem;
		margin-bottom: 2rem;
		padding: 1rem;
		margin: 1rem;
	}	
	#botones .boton{
		font-size: 0.8rem;
	}
	#botones-evento{
		display: flex;
		flex-wrap:nowrap;
		margin: auto 19rem;
	}
	#via-evento{
		margin-left: 1rem; 
	}
	#texto-lider{
		font-size: 100%;
		color: #000000;
	}
	#post-contacto{
		max-width: 100%;
		padding: 0.5rem 4rem;
		margin: 1rem auto;
		display: block;
	}	
	#datos-contacto{
		margin-top: -0.5rem;
		margin-left: -1.5rem;
		font-size: 1.2rem;
	}	
	#datos-contacto p{
		margin-top: 0.5rem;
		font-size: 1rem;
	}	
	#titulo-monitores{
		margin-top: 1rem;
		font-size: 1rem;
	}
	#footer{
		font-size: 0.7rem;
	}
	#footer-index{
		margin-top: 1rem;
		text-align: center;
		font-weight: 800;
		color: #000000;
		font-size: 2rem!important;
	}
}
